<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mymall.mbg.mapper.WmsWareOrderTaskDetailMapper">
    <resultMap id="BaseResultMap" type="com.example.mymall.mbg.model.WmsWareOrderTaskDetail">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sku_id" jdbcType="BIGINT" property="skuId"/>
        <result column="sku_name" jdbcType="VARCHAR" property="skuName"/>
        <result column="sku_num" jdbcType="INTEGER" property="skuNum"/>
        <result column="task_id" jdbcType="BIGINT" property="taskId"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, sku_id, sku_name, sku_num, task_id
    </sql>
    <select id="selectByExample" parameterType="com.example.mymall.mbg.model.WmsWareOrderTaskDetailExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from wms_ware_order_task_detail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wms_ware_order_task_detail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from wms_ware_order_task_detail
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.example.mymall.mbg.model.WmsWareOrderTaskDetailExample">
        delete from wms_ware_order_task_detail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.example.mymall.mbg.model.WmsWareOrderTaskDetail">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into wms_ware_order_task_detail (sku_id, sku_name, sku_num,
        task_id)
        values (#{skuId,jdbcType=BIGINT}, #{skuName,jdbcType=VARCHAR}, #{skuNum,jdbcType=INTEGER},
        #{taskId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.example.mymall.mbg.model.WmsWareOrderTaskDetail">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into wms_ware_order_task_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="skuName != null">
                sku_name,
            </if>
            <if test="skuNum != null">
                sku_num,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skuId != null">
                #{skuId,jdbcType=BIGINT},
            </if>
            <if test="skuName != null">
                #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="skuNum != null">
                #{skuNum,jdbcType=INTEGER},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.example.mymall.mbg.model.WmsWareOrderTaskDetailExample"
            resultType="java.lang.Long">
        select count(*) from wms_ware_order_task_detail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update wms_ware_order_task_detail
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.skuId != null">
                sku_id = #{record.skuId,jdbcType=BIGINT},
            </if>
            <if test="record.skuName != null">
                sku_name = #{record.skuName,jdbcType=VARCHAR},
            </if>
            <if test="record.skuNum != null">
                sku_num = #{record.skuNum,jdbcType=INTEGER},
            </if>
            <if test="record.taskId != null">
                task_id = #{record.taskId,jdbcType=BIGINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update wms_ware_order_task_detail
        set id = #{record.id,jdbcType=BIGINT},
        sku_id = #{record.skuId,jdbcType=BIGINT},
        sku_name = #{record.skuName,jdbcType=VARCHAR},
        sku_num = #{record.skuNum,jdbcType=INTEGER},
        task_id = #{record.taskId,jdbcType=BIGINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.mymall.mbg.model.WmsWareOrderTaskDetail">
        update wms_ware_order_task_detail
        <set>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=BIGINT},
            </if>
            <if test="skuName != null">
                sku_name = #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="skuNum != null">
                sku_num = #{skuNum,jdbcType=INTEGER},
            </if>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.mymall.mbg.model.WmsWareOrderTaskDetail">
        update wms_ware_order_task_detail
        set sku_id   = #{skuId,jdbcType=BIGINT},
            sku_name = #{skuName,jdbcType=VARCHAR},
            sku_num  = #{skuNum,jdbcType=INTEGER},
            task_id  = #{taskId,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>